body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a37294;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.layout {
    margin: 20px 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease-in-out;
    width: 200px; 
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-title {
    margin: 0;
    font-size: 1.2em;
}

.card-description {
    margin: 10px 0 0;
    font-size: 0.9em;
    color: #555;
}


.flex-start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}
